<div class="register">
    <span class="registerTitle">Register Here</span>
    <form class="registerForm" [formGroup]="registerForm" (ngSubmit)="registerUser()">
        <label for="fName">First Name</label>
        <input id="fName" class="registerInput" type="text" placeholder="Enter your first name" 
            formControlName="fName"
            required />
        <span class="inputErr"
            *ngIf="fName && fName.errors && fName.errors['required'] && (fName.touched || fName.dirty)">
            First Name is required
        </span>
        <span class="inputErr"
            *ngIf="fName && fName.errors && fName.errors['minlength'] && (fName.touched || fName.dirty)">
            First Name is too short
        </span>
        <span class="inputErr"
            *ngIf="fName && fName.errors && fName.errors['maxlength'] && (fName.touched || fName.dirty)">
            First Name is too long
        </span>
        <span class="inputErr"
            *ngIf="fName && fName.errors && fName.errors['pattern'] && (fName.touched || fName.dirty)">
            First Name contains only alphabet
        </span>


        <label for="lName">Last Name</label>
        <input id="lName" class="registerInput" type="text" placeholder="Enter your last name" 
            formControlName="lName"
            required />
        <!-- <span class="inputErr" 
        *ngIf="lName && lName.invalid && lName.touched">This input field is not valid</span> -->
        <span class="inputErr"
            *ngIf="lName && lName.errors && lName.errors['required'] && (lName.touched || lName.dirty)">
            Last Name is required
        </span>
        <span class="inputErr"
            *ngIf="lName && lName.errors && lName.errors['minlength'] && (lName.touched || lName.dirty)">
            Last Name is too short
        </span>
        <span class="inputErr"
            *ngIf="lName && lName.errors && lName.errors['maxlength'] && (lName.touched || lName.dirty)">
            Last Name is too long
        </span>
        <span class="inputErr"
            *ngIf="lName && lName.errors && lName.errors['pattern'] && (lName.touched || lName.dirty)">
            Last Name contains only alphabet
        </span>


        <label for="email">E-mail </label>
        <input class="registerInput" type="email" placeholder="Enter your E-mail Address" 
            formControlName="eMail"
            required />
        <span class="inputErr"
            *ngIf="eMail && eMail.errors && eMail.errors['required'] && (eMail.touched || eMail.dirty)">
            E-mail is required
        </span>
        <span class="inputErr"
            *ngIf="eMail && eMail.errors && eMail.errors['email'] && (eMail.touched || eMail.dirty)">
            E-mail is invalid
        </span>


        <label for="mobileNumber">mobile number</label>
        <input class="registerInput" type="text" placeholder="Enter your mobile nuber"
            formControlName="mobileNumber"
            required />
        <span class="inputErr" 
            *ngIf="mobileNumber && mobileNumber.errors && mobileNumber.errors['required'] && 
            (mobileNumber.touched || mobileNumber.dirty)">
            Mobile number is required
        </span>
        <span class="inputErr" 
            *ngIf="mobileNumber && mobileNumber.errors && mobileNumber.errors['pattern'] && 
            (mobileNumber.touched || mobileNumber.dirty)">
            Mobile number should start with 6-9 digit
        </span>
        <span class="inputErr"
            *ngIf="mobileNumber && mobileNumber.errors && mobileNumber.errors['minlength'] && 
            (mobileNumber.touched || mobileNumber.dirty)">
            mobile number is too short
        </span>
        <span class="inputErr"
            *ngIf="mobileNumber && mobileNumber.errors && mobileNumber.errors['maxlength'] && 
            (mobileNumber.touched || mobileNumber.dirty)">
            mobile number is too long
        </span>
        <br>


        <div>
            <span>Gender :</span>
            <input type="radio" id="male" name="gender" value="Male" formControlName="gender">
            <label for="male">Male</label>
            <input type="radio" id="female" name="gender" value="Female" formControlName="gender">
            <label for="female">Female</label>
            <input type="radio" id="other" name="gender" value="other" formControlName="gender">
            <label for="other">Other</label>
        </div>
        <span class="inputErr" *ngIf="gender && gender.errors && gender.errors['required']">
            select gender
        </span>
        <br>


        <div>
            <label for="country">Country : </label>
            <select name="country" id="" class="country">
                <option value="">select country</option>
                <option value="india">India</option>
                <option value="nepal">Nepal</option>
                <option value="usa">USA</option>
                <option value="england">England</option>
                <option value="uk">UK</option>
            </select>
        </div>



        <label for="passWord">Password</label>
        <input type="password" class="registerInput" placeholder="Enter your password" 
            formControlName="passWord">
        <span class="inputErr" 
            *ngIf="passWord && passWord.errors && passWord.errors['required'] && 
            (passWord.touched || passWord.dirty)"> 
            password is required
        </span>
        <span class="inputErr" 
            *ngIf="passWord && passWord.errors && (passWord.errors['minlength'] || passWord.errors['maxlength']) 
            && (passWord.touched || passWord.dirty)"> 
            password should be atleast 6 and atmost 15 character long
        </span>


        <label for="repeatPassWord">Repeat Password</label>
        <input type="password" class="registerInput" placeholder="Enter your password again" 
        formControlName="repeatPassword">
        <span class="inputErr"  [ngStyle]="{'display':repeatPassCSS}">Password mismatched</span>



        <!-- <button class="registerButton1" type="submit" [disabled]="registerForm.invalid" 
            (click)="registerUser()">Register</button> -->
        <input class="registerButton" type="submit" value="Register"
            [disabled]="registerForm.invalid" />
        <span class="inputErr" *ngIf="registerForm.invalid" >
            Register button is disabled please fill the details in above field 
        </span>
    </form>
</div>