.register {
    height: 83vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(rgba(255, 255, 255, 0.5),
            rgba(255, 255, 255, 0.5)),
        url("https://images.pexels.com/photos/317355/pexels-photo-317355.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-size: cover;
}

.registerTitle {
    font-size: 50px;
    margin-top: -10px;
}

.registerForm {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    border: 1px solid red;
    padding: 5px;
    background-color: black;
    width: 40%;
    color: orange;
    border-radius: 10px;
    box-shadow: 0 0 5px 5px rgb(4, 0, 255);


}

.registerInput {
    padding: 10px;
    background-color: white;
    border: none;
    border-radius: 10px;
}

.registerInput:focus {
    outline: none;
}
.inputErr {
    color: red;
}

.country{
    border: none;
    padding: 2px;
    border-radius: 10px;
}
.country:focus {
    outline: none;
}
.registerButton {
    margin-top: 20px;
    cursor: pointer;
    background-color: teal;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 10px;
    text-align: center;
    width: 25%;
}