<div class="register">
    <span class="registerTitle">Register</span>
    <form class="registerForm">
        <label>First Name</label>
        <input class="registerInput" type="text" placeholder="Enter your first name" required/>
        <label>Last Name</label>
        <input class="registerInput" type="text" placeholder="Enter your last name" required/>
        <label>E-mail </label>
        <input class="registerInput" type="email" placeholder="Enter your E-mail Address" required/>
        <label>mobile number</label>
        <input class="registerInput" type="number" placeholder="Enter your mobile nuber" required/>
        <input class="registerButton" type="submit" value="Register"/>
    </form>
</div>